<div class="break-line mb-sm" style="opacity: <%= 0.3 if question.hidden? %>">
  <%= question.body %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <% if current_user == question.user %>

    <div class="text-grey">
      <%= l(question.created_at, format: :short) %>
    </div>

    <div style="opacity: <%= 0.5 if question.hidden? %>">
      <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
      <% edit_title = question.answer.blank? ? 'Ответить на вопрос' : 'Изменить вопрос' %>

      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: edit_title, class: 'mr-sm' %>

      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос',
                    class: 'mr-sm',
                    form: { data: { turbo_confirm: 'Точно удалить вопрос?' } } %>

      <%= button_to fa_icon('eye'), hide_question_path(question), method: :put, title: 'Скрыть вопрос',
                    form: { data: { turbo_confirm: 'Точно скрыть вопрос?' } } unless question.hidden? %>
    </div>
  <% end %>
</div>